<mat-card class="device-card-user">
    <mat-card-title>Aktueller Geräte Status</mat-card-title>
    <mat-card-content>
      <p>Die Anzahl der Verfügbaren Geräte beträgt: 533</p>
      <p>Die Anzahl der Verliehenen Geräte beträgt: 241</p>
    </mat-card-content>
  </mat-card>

    <mat-card class="device-card-user">
    <mat-card-title>Überfällige Geräte</mat-card-title>
    <mat-card-content>
      <p>Überzogene Geräte: 3</p>
      <p>Geräte gekennzeichnet als Defekt: 1</p>

      <div class="mt-5">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>ID</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Klasse</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody class="tbody">
          <tr *ngFor="let student of studentDetails">
            <td>{{student.id}}</td>
            <td>{{student.vorname}}</td>
            <td>{{student.nachname}}</td>
            <td>{{student.klasse}}</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                        (click)="edit(student)">Bearbeiten</button></td>
            <td><button type="button" class="btn btn-danger" (click)="deleteStudent(student)">Löschen</button></td>
          </tr>
          </tbody>
        </table>
      </div>


    </mat-card-content>
  </mat-card>




<mat-card>
  <mat-card-title>Geräte hinzufügen</mat-card-title>
  <form class="device-form">
    <mat-form-field class="device-form" appearance="fill">
      <input matInput placeholder="Gerätenummer..." />
    </mat-form-field>

    <mat-form-field class="device-form" appearance="fill">
      <input matInput placeholder="Generation..." />
    </mat-form-field>
  </form>

  <mat-card-actions>
    <button mat-button>Hinzufügen</button>
  </mat-card-actions>
</mat-card>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Student</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm" (ngSubmit)="updateStudent()">
          <div class="form-group">
            <label for="rollNumber">Schüler ID:</label>
            <input
              type="text"
              disabled
              #rollNumber
              [(ngModel)]="studentToUpdate.id"
              name="rollNumber"
              id="rollNumber"
              class="form-control"
              placeholder="Student Roll number"
            />
          </div>
          <div class="form-group">
            <label for="name">Schüler Vorname:</label>
            <input
              type="text"
              #name
              [(ngModel)]="studentToUpdate.nachname"
              name="name"
              id="name"
              class="form-control"
              placeholder="Schüler Vorname"
            />
          </div>
          <div class="form-group">
            <label for="address">Schüler Nachname:</label>
            <input
              type="text"
              #address
              [(ngModel)]="studentToUpdate.vorname"
              name="address"
              id="address"
              class="form-control"
              placeholder="Schüler Nachname"
            />
          </div>
          <div class="form-group">
            <label for="percentage">Schüler Klasse:</label>
            <input
              type="number"
              #percentage
              [(ngModel)]="studentToUpdate.klasse"
              name="percentage"
              id="percentage"
              class="form-control"
              placeholder="Schüler Klasse"
            />
          </div>
          <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary w-100" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

